


body {
  font-family: Helvetica;
  font-size: 0.6em;
  display: block;
  margin: 8px;
  height:800px;

}


h1{
  text-align: center;
  font-family: Helvetica;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}



form {
  width:300px;
  /*margin: 20px auto; */
  
}

label {
    font-style:italic;
}
input[type="text"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:250px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

/*input[type="button"] {
  margin-top: 15px;
  width: 300px;
  min-height: 30px;

} */

.description {
  width: 300px;
  font-style: italic;
  
  /*margin: 20px auto;
  border:1px solid #ccc;
  -webkit-border-radius:5px;
}